* {
    margin: 0;
    padding: 0;
}


.wrapper {
    max-width: 1220px;
    margin: auto;
}

body {
    font-family: "Noto Sans";
}

/* header styles */

.header {
    min-height: 1175px;
    background-image: url("../images/header-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 53px;
    box-sizing: border-box;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 134px;
}

@media (max-width: 616px) {
    .header-menu {
        flex-direction: column;
        gap: 24px;
    }
}

.header-links {
    display: flex;
    gap: 55px;
}

@media (max-width: 373px) {
    .header-links {
        flex-direction: column;
        gap: 18px;
        text-align: center;
    }
}

.header-link {
    color: #C6C0C0;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

/* offer */

.header-title {
    max-width: 706px;
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
    color: #FFFFFF;
    text-align: center;
    margin: auto;
    position: relative;
    z-index: 0;
    margin-bottom: 28px;
}

.header-title::after {
    content: "";
    display: block;
    width: 400px;
    height: 96px;
    background: url("../icons/offer-line.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    bottom: -20px;
    right: -18px;
    z-index: -1;

}

.header-subtitle {
    font-size: 20px;
    line-height: 32px;
    font-weight: 400;
    color: #C6C0C0;
    text-align: center;
    max-width: 867px;
    margin: auto;
}