* {
    margin: 0;
    padding: 0;
}


.wrapper {
    max-width: 1220px;
    margin: auto;
}

body {
    font-family: "Noto Sans";
}

/* header styles */

.header {
    min-height: 1175px;
    background-image: url("../images/header-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 53px;
    box-sizing: border-box;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 616px) {
    .header-menu {
        flex-direction: column;
        gap: 24px;
    }
}

.header-links {
    display: flex;
    gap: 55px;
}

@media (max-width: 373px) {
    .header-links {
        flex-direction: column;
        gap: 18px;
        text-align: center;
    }
}

.header-link {
    color: #C6C0C0;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}